[secrets]
avatar_salt = 
shared_secret = 
secret_key = 
camo_key = 

postgres_password  = 
rabbitmq_password  = 
memcached_password = 
redis_password     = 
email_password     = 

auth_ldap_bind_password = 

zulip_org_key = 
zulip_org_id  = 
